
.body{
     text-color:#ffffff;
}


.logo{margin-left: 15%; }
.navbar-nav{margin-right: 10%;}

.navbar button { background:#cfd6d2; height: 44px; }
.icon-bar  { background:#fff; height:2px; width: 29px; display:block; margin-top: -19px; margin-bottom:6px;}




.banner{
background-color:#c6efd3;
}

.banner img{
width:100%;
padding:10px;
}

.services {
    background-color:#eee;
    padding:10px;
}

.services h3{ text-align: center; text-color:#fff;padding-bottom: 20px;}
.services ul{list-style-type:none;}
.services ul li{display:inline-block;padding:0 100px 100px;}



@media (min-width: 280) && (max-width:991px)
{
   .logo{ margin-left: 0%; } 
}

